$primary-color: var(--primary);
$secondary-color: #2d2c6d;
$background-color: #f5f5dc;
$error-color: #ff3b30;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
  img {
    margin-left: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
}

.signupBox {
  background: white;
  padding: 2.5rem;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(27, 26, 63, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  color: $primary-color;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 1rem;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

.error-border {
  border-color: var(--red-600);
}

.error {
  color: $error-color;
  font-size: 0.875rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #34c759;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 50%;
  max-width: 200px;
  margin-left: 9rem;
  margin-right: 9rem;
  &:hover:not(:disabled) {
    background-color: #0a3711;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  .signupBox {
    padding: 2rem;
  }
}
